@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.nav{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #000;
    color: white;
    display : flex;
    height: 50px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    FLEX :display
}


.logo{
flex:1;
padding: 10px;

}
.data{
    flex: 3;
   display: flex;
   align-items: center;
}
#active{
    color: red;
}
.data a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
}
a:hover{

    color: red;
}
.nav a.active{
    color: red;
}
@keyframes fadeIn{
    0%{opacity: 0;}
    
    100%{opacity: 1;}
}
@keyframes slide{
100%{left:0;}
}

.home{
    display:flex;
    
    background-image: url(./images/bg.jpg);
    height : 600px;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    position: relative;
    padding-right: 20px;


}
@keyframes fadeOut {
    0%{opacity: 1;}
    100%{opacity: 0.5;}
}
.name{
    flex:4;
    color: white;
    text-shadow: 2px 2px #000;
    margin-left: 80px;
    padding-top: 25px;
    top: 70%;
    margin-top: 150px;
    transform: translateY(100%);
    transform: translateX(10%);
    animation:fadeIn 5s;
    
}
.image{
    background-size: cover;
    flex:1;
    top: 40%;
    transform: translateY(60%);
    transform: translateX(-40%);
    height: 30px;
    width: 10px;
    padding-left: 10px;
    padding-top: 10%;
    margin-left: 100px;
    animation:fadeIn 5s;
}
.image:hover{
    animation: fadeOut 1s;
}
.Aboutme{
    text-align: center;
    background-image: url(./images/aboutme.jpg);
    height : 600px;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    position: relative;
    color: white;
    text-shadow: 2px 2px #000;
    top: 50%;
    transform: translateY(-50);
    padding: 80px;
    transition: all 10s ease-in-out;
}
.about{
    animation:fadeIn 5s;
}
.edu{
    text-align: center;
    background-image: url(./images/contact.webp);
    height : 600px;
   
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    position: relative;
    color: white;
    
    top: 50%;
    transform: translateY(-50);
    padding: 80px;
}
.edu h1{
    animation:fadeIn 5s;
    text-shadow: 4px 4px #000;
}
.table tr:hover{
    font-size: 30px;
}
.table{
    color: black;
    animation:fadeIn 5s;
    align-self: center;
    margin-left: 50px;
}
.sen{
    background-color: lightgrey;
    height: 20px;
    width : 300px;
    border-radius: 6px;
    border: #000;
}
.percent{
    background-color: red;
    height: 20px;
    width:70%;
    border-radius: 6px;
}
@keyframes bar{
    from{width: 0%;}
    to{width: 70%;}
}
.sen:hover{
    background-color: red;
    height: 25px;
    width : 375px;
}
.percent:hover{
    height:25px;
    background-color: lightgrey;
}
.percent:onload{
   animation: bar 10s;
}
.skill{
    text-align: center;
    background-image: url(./images/skills.png);
    height : 600px;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    position: relative;
    color: black;
    top: 50%;
    transform: translateY(-50);
    padding: 80px;
    
}
.ms{
    animation:fadeIn 5s;
}
.project{
    text-align: center;
    background-image: url(./images/project.jpg);
    height : 600px;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    color: white;

    top: 50%;
    transform: translateY(-50);
    padding: 80px;
    
}
.pr{
    animation:fadeIn 5s;
    transform: translateY(-10%);
}

.contact{
    text-align: center;
    background-image: url(./images/contact.jpg);
    background-size: cover;
    height : 600px;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    position: relative;
    color: white;
    text-shadow: 2px 2px #000;
    top: 50%;
    transform: translateY(-50);
    padding: 80px;
    
}
.C1{
    animation:fadeIn 5s;
}
.table td:hover{
    color: lightgrey;
}
.pr h1{
    text-shadow: 4px 4px black;
    transform: translateY(-20px);
}
.card:hover{
 transform: scale(1.1);
}
.ta{
    box-shadow: 2px 2px black;
}